
/* TEMP: Navigation */
#navbar{
flex-direction: column;
}
#navbar ul li a{
  font-size: 1rem;
  padding: 0 7px;
  padding-bottom: 8px;

}


/* TEMP: home section */
#home h1{
  font-size: 43px;
}

#home{
flex-direction: column;
height: 370px;
padding: 3px 68px;
}
#home::before{
  height: 480px;
}
#home p{
  font-size: 13px;

}


/* TEMP: services section */

#services
{
  flex-direction: column;
margin: 24px;
}

#services .box{

  padding: 14px;
  margin: 2px;
}

/* TEMP: client section */

#clients{
  flex-wrap: wrap;
}
#clients img{
  width: 66px;
  padding: 6px;
  height: auto;

}

/* TEMP: contact section */


#contact-box form{
    width:80%;

/* TEMP: footer */
/* utility classes */
.h-primary{
  font-size: 26px;
}
.btn{
  font-size: 13px;
  padding: 4px 8px;
}
